# Xcode
*.xcworkspace
*.xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# SwiftPM
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
