<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.945482100408-i28hroc7le5gq1nrgva46d7ak7af0ekj</string>
			</array>
		</dict>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>iThink app requires camera access to take photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>iThink app need access to your photos so you can upload an image.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
